<div class="vis-wrapper">
  <div class="sidebar">
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
  </div>
  <div class=" section data">
    <div class="head">
      <i class="fa fa-globe" aria-hidden="true"></i>Data Visualization</div>
    <div class="content">
      <div class="data-details">
        <div class="location"><b>Your Location:</b><span>Human Readable Location</span></div>
        <div class="risk-level">{{riskLevel}}</div>
      </div>
      <div class="image"></div>
    </div>
  </div>
  <!-- <div class=" section news">
    <div class="head">
      <i class="fa fa-newspaper-o" aria-hidden="true"></i>News Feed</div>
    <div class="content">
    </div>
  </div> -->
</div>
