<div class="entry-wrapper">

  <div class="intro">
    <div class="main-tag-line"><b>Being informed is being safe.</b>
      <br> Predictions based on weather and historical data sourced from the finest agencies in the world, combined with real-time information sourced from you, our users. lets us help keep you in the know about landslide-prone areas, and connect you to the services you need.</div>
    <div class="sign-up-form">
      <input type="text" name="username" value="" placeholder="Pick a Username">
      <input type="email" name="email" value="" placeholder="Enter your email">
      <input type="password" name="" value="" placeholder="Enter a Password">
      <span>Use at least one letter, one numeral, and seven characters.</span>
      <div class="button-large signup">Sign Up</div>
      <span>By clicking "Sign up", you agree to our <a href="#">terms of service</a> and <a href="#">privacy policy</a>. We’ll occasionally send you account related emails.</span>
    </div>
  </div>
    <canvas id="canvas-element"></canvas>
  <div class="feature-wrap">
    <div class="feature-image one"></div>
    <div class="feature-content">
      <b>Landslide data Prediction and Analysis</b>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
  <div class="feature-wrap right">
    <div class="feature-image one"></div>
    <div class="feature-content">
      <b>Get News updates and more</b>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
  <div class="feature-wrap">
    <div class="feature-image one"></div>
    <div class="feature-content">
      <b>Crowdsoucing data</b>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
  <div class="feature-wrap right">
    <div class="feature-image one"></div>
    <div class="feature-content">
      <b>Livestream</b>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>
